{% extends "base.html" %}

{% block title %}
Inicio | ExamPlay
{% endblock %}

{% block content %}
<section class="hero-section">
    <div class="container text-center">
        <span class="hero-label">
            Aprendizaje interactivo en vivo
        </span>

        <h1 class="display-2 fw-bold mt-3">
            Aprende, responde y compite
        </h1>

        <p class="lead mt-3">
            Crea cuestionarios educativos y desarrolla partidas
            interactivas con tus estudiantes en tiempo real.
        </p>

        <div class="mt-4">
            <a
                href="#"
                class="btn btn-warning btn-lg px-5 me-2"
            >
                Ingresar con PIN
            </a>

            <a
                href="#"
                class="btn btn-outline-light btn-lg px-5"
            >
                Soy docente
            </a>
        </div>
    </div>
</section>
{% endblock %}